<div id="options" class="container-y">
    <div class="row">
        <h1 class="txt-white">options</h1>
    </div>
    <div class="row">
        <button id="del">Delete all</button>
    </div>
    <div class="row">
        <span>Default ip : </span>
        <input id="ip" type="text" value="<%= ip %>">
    </div>
</div>
